.codelink {
    color: #ee4c2c;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}


.codelink:hover {
    color: #ee4c2c;
    text-decoration: underline;
}

.function dt,
.class dt {
    position: relative;
    background: #f3f4f7;
    padding: 0.5rem;
    border-left: 3px solid #ee4c2c;
    word-wrap: break-word;
    padding-right: 100px;
}

dl dt {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #262626;
    letter-spacing: 0.01px;
    font-weight: 500;
}

.function dt a,
.attribute dt a,
.class .attribute dt a,
.class dt a {
    right: 30px;
    padding-right: 0;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

span.pre {
    color: #6c6c6d;
    background-color: #f3f4f7;
    padding: 2px 0px;
}

.class dt {
    border-left: none;
    border-top: 3px solid #ee4c2c;
    padding-left: 4em;
}

.class dt em.property {
    position: absolute;
    left: 0.5rem;
}

.class em.property {
    text-transform: uppercase;
    font-style: normal;
    color: #ee4c2c;
    font-size: 1rem;
    letter-spacing: 0;
    padding-right: 0.75rem;
}