.codelink {
    color: #ee4c2c;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}


.codelink:hover {
    color: #ee4c2c;
    text-decoration: underline;
}

.function dt,
.class dt {
    position: relative;
    background: #f3f4f7;
    padding: 0.5rem;
    border-left: 3px solid #ee4c2c;
    word-wrap: break-word;
    padding-right: 100px;
}

dl dt {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #262626;
    letter-spacing: 0.01px;
    font-weight: 500;
}

.function .anchorjs-link,
.attribute .anchorjs-link,
.class .anchorjs-link {
    display: inline;
    position: absolute;
    right: 8px;
    font-size: 1.5625rem !important;
    padding-left: 0;
}

.function dt a,
.attribute dt a,
.class .attribute dt a,
.class dt a {
    right: 30px;
    padding-right: 0;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}